* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

body {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);        
    background-image: url(/assets/images/45-degree-fabric-light.png);
}

.board {
    width: 100vw;
    height: 100vh;
    background: rgb(107, 33, 33);
    background: url(/assets/images/45-degree-fabric-light.png),
    radial-gradient( circle farthest-corner at 50.4% 50.5%,  rgb(214, 28, 75) 0%, rgb(40, 0, 10) 90% );;
    
}
