.layout-deck-base {
    position: relative;
    width: calc(var(--card-size) * 2.5);
    height: calc(var(--card-size) * 3.5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

    grid-row: 2/3;
}

.layout-card {
    position: absolute;
    box-shadow: none;
}

.layout-cascade {

}

.layout-stack {

}

.layout-grid {

}

.layout-test-page{
    width: 100vw;
    height: 100vh;


    display: grid;
    grid-template-rows: 10% 1fr;
    justify-content: center;
    align-items: center;
}

.layout-header {
    background-color: rgba(0, 0, 0, 0.566);
    height: 100%;
    width: 100vw;
    grid-row: 1/2;

}

button .layout{
    grid-row: 1/2;

}