$size-unit: 70px;

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  }

h1 {
  font-size: 5rem;
  text-align: center;
  padding: 2rem;
  color: white;
  -webkit-text-stroke: 1px #265e1d;
  text-shadow: 0px 4px 8px rgb(7, 7, 7);
}

body {
  padding: 1rem;
  background-color: #0a4369;
  background-image: url(/assets/images/45-degree-fabric-light.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

hr {
  color: rgba(0, 0, 0, 0.657);
  border: 8px solid;
  border-radius: 8px;
}

.card {
  width: calc($size-unit * 2.5);
  height: calc($size-unit * 3.5);
  margin: calc(0.2 * $size-unit);
  
  background-color: whitesmoke;
  border-radius: calc(0.1 * $size-unit);
  border: calc(0.05 * $size-unit);
  box-shadow: 0 0 0 calc(0.05 * $size-unit) black, 
  rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.playing {
  font-size: calc($size-unit * 0.355);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 7fr 1fr;
  
  div[data-suit="♥"],
  div[data-suit="♦"] {
    color: red;
  }

  /* CORNER SYMBOLS */  
  .top-left,
  .bottom-right {
    padding-left: calc($size-unit * 0.06);
    display: flex;
    flex-direction: column;
    gap: calc($size-unit*0.06);
    justify-content: start;
    align-items: center;
  }

  .top-left > div,
  .bottom-right > div {
    margin-bottom: calc($size-unit * (-0.1));
  }


  .top-left {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .bottom-right {
    grid-column: 3/4;
    grid-row: 2/4;
    transform: rotate(180deg);
  }
}

/* CENTER SYMBOLS */ 
.card-center {
  height: 100%;
  padding-top: calc($size-unit/8);
  padding-bottom: calc($size-unit/8);
  grid-column: 2/3;
  grid-row: 1/4;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: calc($size-unit * 0.75);
}

.center-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center-flex[data-number= "A"] {
  justify-content: center;
  font-size: calc($size-unit * 2);
}

.center-flex[data-number= "5"] {
  justify-content: center;
}

.center-flex[data-number= "7"] {
  padding-top: calc(100%/3);
  justify-content: flex-start;
}

.center-flex[data-number= "8"] {
  justify-content: center;
  gap: calc($size-unit*0.5);
}

.center-flex[data-number= "10"] {
  padding-top: 3%;
  justify-content: space-around;
}

.center-flex[data-number= "J"] {
  justify-content: center;
  font-size: calc($size-unit * 2);
}

.center-flex[data-number= "Q"] {
  justify-content: center;
  font-size: calc($size-unit * 2);
}

.center-flex[data-number= "K"] {
  justify-content: center;
  font-size: calc($size-unit * 2);
}


.flop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(($size-unit*2.6), 1fr));
  grid-auto-flow: row;
  gap: calc($size-unit/10);
}